html, body {
	font-family: sans-serif;
	height: 100%;
	background: white;
	color: black;
}

.wrapper {
	width: 75%;
	height: 100%;
	margin: auto;
	padding: 5px;
	margin-bottom: 10%;
}

footer {
	background-color: #eaeaea;
	width: 100%;
}

#menu {
	background-color: #1a76d8;
	text-align: center;
	height: 15%;
	position: sticky;
}

.menu-bar-link {
	transition: 0.25s;
	border: 1px solid transparent;
	border-radius: 4px;
	display: inline;
	color: white;
	text-decoration: none;
	font-size: 2.3rem;
	margin: 10px;
	padding: 5px;
}

.menu-bar-link:hover {
	color: black;
	background-color: white;
	box-shadow: 10px 10px 3px black;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #36c8ed;
	font-size: 1.4rem;
}

a:hover {
	text-decoration: underline;
	color: #2ba5c4;
}

p {
	font-size: 1.4rem;
}

td {
	border: 1px solid black;
	text-align: center;
	font-size: 20pt;
	width: 10vw;
	height: 24.75vw;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

table {
	width: 100%;
	height: 85%;
}

.image-caption {
	height: 100%;
	width: 100%;
	transition: 0.4s;
	background: transparent;
	color: transparent;
	padding: 10px;
}

.image-caption:hover {
	background-color: black;
	opacity: 0.7;
	filter: alpha(opacity=70);
	color: white;
}

.body-text {
	width: 70%;
	margin: auto;
	text-align: center;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	font-size: 4rem;
	text-align: center;
}

.seperator {
	width: 60%;
	color: black;
}

#index-body {
	background-image: url("./img/gallery.jpg");
	background-repeat: none;
	background-size: 100%;
}

#index-wrapper {
	opacity: 0.85; 
	border: 2px solid black; 
	border-radius: 5px; 
	height: 80%; 
	background-color: white;
}

#git {
	text-decoration: none;
	color: #36c8ed;
	transition: 0.5s;
	margin: auto;
}

#git:hover {
	color: black;
	letter-spacing: 0.3rem;
}

form {
	text-align: center;
	font-family: verdana;
	text-align: left;
	width: 70%;
	margin: auto;
	margin-top: 20px;
	font-size: 1.5rem;
}

label {
	padding: 10px;
}

#sub-button {
	border: none;
	background-color: #1a76d8;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 1.4rem;
	color: white;
	padding: 10px;
	transition: 0.3s;
	cursor: pointer;
	width: 100%;
}

#sub-button:hover {
	color: black;
	background-color: #7fbdff;
	font-size: 1.5rem;
}

#file {
	border: black;
	cursor: pointer;
}

input {
	margin: 10px;
	border: 1px solid black;
}

#caption {
	font-family: inherit;
	font-size: inherit;
	width: 80%;
	margin-top: 12px;
}

#git-img {
	display: inline-block;
}